.button {
  width: 100%;
  border-radius: 0%;

  color-scheme: light dark;
  color: #ff4e88;
  background-color: #ffbe98;
}
.button:hover {
  cursor: var(--cursor-custom-hover);
}
.button:active {
  cursor: var(--cursor-custom-click);
}
