.buttonCell {
  display: flex;
  position: relative;

  padding: 0px;
  width: 100%;

  pointer-events: all;
  background-image: url("./wallpaperStoreItem.jpg");
  color: crimson;
  font-weight: bold;
  align-items: center;
}
.buttonCell::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}

.itemImage {
  flex: 10%;
  height: 10vh;
}
.itemInfo {
  flex: 52%;
  text-align: left;
  margin-left: 5%;
}
.itemName {
  color: crimson;
  font-size: 20px;
}
.itemPrice {
  color: green;
  font-size: 15px;
}
.itemLevel {
  font-size: 25px;
  flex: 20%;
}

.flex-10 {
  flex: 100%;
}
.flex-8 {
  flex: 80%;
}
.flex-6 {
  flex: 60%;
}
.flex-4 {
  flex: 40%;
}
.flex-2 {
  flex: 20%;
}
